# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Local environment config
.env
.env.local
.env.production

# Android signing
android/app/*.keystore
android/app/*.jks

android/app/my-release-key.keystore